{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkylarChat</title>
</head>
<body>

<h1>TODO: MATERIALIZE</h1>

<form id="messageForm">
    <label for="messageInput">Message:</label>
    <input id="messageInput" type="text" />
    <button id="sendMessage" type="submit">Send</button>
</form>

<hr/>

<div id="chat">

</div>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static "skylar_challenge/../../static/js/app.js" %}"></script>
</footer>
</body>
</html>
